body,
ul,
h1,
h2,
h3,
h4,
h5,
h6,
input,
dl,
dt,
dd,
form,
p {
  margin: 0;
  padding: 0;
}

body,
html {
  font: 14px "microsoft yahei";
  background-color: #888;
  margin: 0;
  padding: 0;
  height: 100%;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  border: 0 none;
  vertical-align: middle;
}

input {
  outline: none;
  border: 0 none;
}

.fl {
  float: left;
}

.fr {
  float: right;
}

.clearfix:before,
.clearfix:after {
  content: "";
  display: table;
}

.clearfix:after {
  clear: both;
}

.clearfix {
  *zoom: 1;
}
